<!-- wp:template-part {"slug":"header","theme":"aletho","tagName":"header"} /-->

<!-- wp:pattern {"slug":"aletho/title-banner"} /-->

<!-- wp:columns {"align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"primary-blue","gradient":"aletho-light-blue-gradient"} -->
<div class="wp-block-columns alignfull has-primary-blue-color has-aletho-light-blue-gradient-gradient-background has-text-color has-background"
	style="margin-top:0;margin-bottom:0">
	<!-- wp:column {"verticalAlignment":"top","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-column is-vertically-aligned-top"
		style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">
		<!-- wp:heading {"level":1,"fontSize":"xxl"} -->
		<h1 class="wp-block-heading has-xxl-font-size">IT-trajecten en begeleiding</h1>
		<!-- /wp:heading -->

		<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-blue"}}}},"textColor":"primary-blue","fontSize":"large"} -->
		<h3 class="wp-block-heading has-primary-blue-color has-text-color has-link-color has-large-font-size">mogelijk
			gemaakt in Noord-Nederland.</h3>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"white"} -->
<div class="wp-block-columns has-white-background-color has-background" style="margin-top:0;margin-bottom:0">
	<!-- wp:column {"layout":{"type":"constrained"}} -->
	<div class="wp-block-column">
		<!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-blue"}}}},"textColor":"primary-blue","fontSize":"x-large"} -->
		<h2 class="wp-block-heading has-primary-blue-color has-text-color has-link-color has-x-large-font-size">Wat is
			Alétho?</h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph {"fontSize":"medium"} -->
		<p class="has-medium-font-size">Onze missie is om de afstand tot de arbeidsmarkt te verkleinen. We focussen op
			je persoonlijke ontwikkeling en zijn gericht op uitstroom. We helpen je op weg naar een passende baan of
			opleiding. Mocht een volgende stap er niet in zitten dan ben je ook welkom bij ons om in een gestructureerde
			en veilige omgeving samen met anderen met IT bezig te zijn.</p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:columns {"backgroundColor":"white"} -->
<div class="wp-block-columns has-white-background-color has-background">
	<!-- wp:column {"layout":{"type":"constrained"}} -->
	<div class="wp-block-column">
		<!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-blue"}}}},"textColor":"primary-blue","fontSize":"x-large"} -->
		<h2 class="wp-block-heading has-primary-blue-color has-text-color has-link-color has-x-large-font-size">Wat
			bieden we?</h2>
		<!-- /wp:heading -->

		<!-- wp:columns -->
		<div class="wp-block-columns">
			<!-- wp:column {"style":{"border":{"radius":"20px"},"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"backgroundColor":"secundary-pale-orange"} -->
			<div class="wp-block-column has-secundary-pale-orange-background-color has-background"
				style="border-radius:20px;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
				<!-- wp:heading {"level":4,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-blue"}}}},"textColor":"primary-blue","fontSize":"larger"} -->
				<h4 class="wp-block-heading has-primary-blue-color has-text-color has-link-color has-larger-font-size">
					IT-trajecten</h4>
				<!-- /wp:heading -->

				<!-- wp:paragraph {"fontSize":"medium"} -->
				<p class="has-medium-font-size">We bieden verschillende vormen van IT-trajecten<br>op maat gemaakt
					aansluitend bij jou tempo en<br>niveau:</p>
				<!-- /wp:paragraph -->

				<!-- wp:list -->
				<ul class="wp-block-list"><!-- wp:list-item {"fontSize":"medium"} -->
					<li class="has-medium-font-size">Orientatietrajecten</li>
					<!-- /wp:list-item -->

					<!-- wp:list-item {"fontSize":"medium"} -->
					<li class="has-medium-font-size">Leertrajecten</li>
					<!-- /wp:list-item -->

					<!-- wp:list-item {"fontSize":"medium"} -->
					<li class="has-medium-font-size">Werktrajecten</li>
					<!-- /wp:list-item -->

					<!-- wp:list-item {"fontSize":"medium"} -->
					<li class="has-medium-font-size">Re-integratie</li>
					<!-- /wp:list-item -->

					<!-- wp:list-item {"fontSize":"medium"} -->
					<li class="has-medium-font-size">Zinvolle dagbesteding</li>
					<!-- /wp:list-item -->
				</ul>
				<!-- /wp:list -->

				<!-- wp:buttons -->
				<div class="wp-block-buttons">
					<!-- wp:button {"backgroundColor":"primary-orange","textColor":"white","className":"is-style-fill","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"fontSize":"medium"} -->
					<div class="wp-block-button is-style-fill"><a
							class="wp-block-button__link has-white-color has-primary-orange-background-color has-text-color has-background has-link-color has-medium-font-size has-custom-font-size wp-element-button"><strong>Meer
								Weten</strong></a></div>
					<!-- /wp:button -->
				</div>
				<!-- /wp:buttons -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"style":{"border":{"radius":"20px"},"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"backgroundColor":"secundary-pale-blue"} -->
			<div class="wp-block-column has-secundary-pale-blue-background-color has-background"
				style="border-radius:20px;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
				<!-- wp:heading {"level":4,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-blue"}}}},"textColor":"primary-blue","fontSize":"larger"} -->
				<h4 class="wp-block-heading has-primary-blue-color has-text-color has-link-color has-larger-font-size">
					Ambulante begeleiding</h4>
				<!-- /wp:heading -->

				<!-- wp:paragraph {"fontSize":"medium"} -->
				<p class="has-medium-font-size">Heb je hulp nodig bij wonen, werk of school dan<br>bieden we o.a.
					ondersteuning bij:</p>
				<!-- /wp:paragraph -->

				<!-- wp:list -->
				<ul class="wp-block-list"><!-- wp:list-item {"fontSize":"medium"} -->
					<li class="has-medium-font-size">Zelfstandig wonen</li>
					<!-- /wp:list-item -->

					<!-- wp:list-item {"fontSize":"medium"} -->
					<li class="has-medium-font-size">Omgaan met financiën</li>
					<!-- /wp:list-item -->

					<!-- wp:list-item {"fontSize":"medium"} -->
					<li class="has-medium-font-size">Contact met instanties</li>
					<!-- /wp:list-item -->

					<!-- wp:list-item {"fontSize":"medium"} -->
					<li class="has-medium-font-size">Sociaal netwerk</li>
					<!-- /wp:list-item -->

					<!-- wp:list-item {"fontSize":"medium"} -->
					<li class="has-medium-font-size">Gezond leven</li>
					<!-- /wp:list-item -->

					<!-- wp:list-item {"fontSize":"medium"} -->
					<li class="has-medium-font-size">Persoonlijke ontwikkeling</li>
					<!-- /wp:list-item -->
				</ul>
				<!-- /wp:list -->

				<!-- wp:buttons -->
				<div class="wp-block-buttons">
					<!-- wp:button {"backgroundColor":"primary-orange","textColor":"white","className":"is-style-fill","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"fontSize":"medium"} -->
					<div class="wp-block-button is-style-fill"><a
							class="wp-block-button__link has-white-color has-primary-orange-background-color has-text-color has-background has-link-color has-medium-font-size has-custom-font-size wp-element-button"><strong>Meer
								weten</strong></a></div>
					<!-- /wp:button -->
				</div>
				<!-- /wp:buttons -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:columns {"backgroundColor":"white"} -->
<div class="wp-block-columns has-white-background-color has-background">
	<!-- wp:column {"layout":{"type":"constrained"}} -->
	<div class="wp-block-column"><!-- wp:paragraph {"fontSize":"medium"} -->
		<p class="has-medium-font-size">We hebben standaard trajecten die we kunnen aanpassen naar jouw behoeften en
			wensen zodat we altijd<br>aansluiten bij jou. Denk hierbij aan:</p>
		<!-- /wp:paragraph -->

		<!-- wp:list -->
		<ul class="wp-block-list"><!-- wp:list-item {"fontSize":"medium"} -->
			<li class="has-medium-font-size">Manier van leren, zoals boeken, video’s, interactieve tutorials etc. zowel
				in het Engels als Nederlands.</li>
			<!-- /wp:list-item -->

			<!-- wp:list-item {"fontSize":"medium"} -->
			<li class="has-medium-font-size">Het tempo bepaal je zelf.</li>
			<!-- /wp:list-item -->

			<!-- wp:list-item {"fontSize":"medium"} -->
			<li class="has-medium-font-size">We sluiten aan bij je huidige IT- en denkniveau.</li>
			<!-- /wp:list-item -->

			<!-- wp:list-item {"fontSize":"medium"} -->
			<li class="has-medium-font-size">Bij ons kun je werken in een rustige, prikkelarme omgeving waarbij je de
				keuze hebt tussen een kleiner of groter kantoor.</li>
			<!-- /wp:list-item -->
		</ul>
		<!-- /wp:list -->

		<!-- wp:paragraph {"fontSize":"medium"} -->
		<p class="has-medium-font-size">Bij deze trajecten word je ondersteund door hoog gekwalificeerd deskundig
			personeel voor zowel de<br>vakinhoudelijke als de persoonlijke ondersteuning.</p>
		<!-- /wp:paragraph -->

		<!-- wp:paragraph {"fontSize":"medium"} -->
		<p class="has-medium-font-size">Gedurende de tijd dat je bij ons bent werken we aan je sociale vaardigheden. Dit
			kan door samen te werken in projecten, maar ook door gezamenlijke ontspanning waarbij we o.a. spel
			gebruiken.</p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:pattern {"slug":"aletho/c2a-banner"} /-->

<!-- wp:template-part {"slug":"footer","theme":"aletho","tagName":"footer"} /-->