<!-- wp:pattern {"slug":"aletho/header-desktop"} /-->
<!-- wp:pattern {"slug":"aletho/header-mobile"} /-->

<!-- wp:group {"metadata":{"name":"Groep blok met gradient"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"margin":{"top":"0","bottom":"0"}}},"gradient":"aletho-light-blue-gradient","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-aletho-light-blue-gradient-gradient-background has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"fontSize":"xxl"} -->
<h1 class="wp-block-heading has-xxl-font-size">IT-trajecten en begeleiding</h1>
<!-- /wp:heading -->

<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-blue"}}}},"textColor":"primary-blue","fontSize":"large"} -->
<h3 class="wp-block-heading has-primary-blue-color has-text-color has-link-color has-large-font-size">mogelijk gemaakt in Noord-Nederland.</h3>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"metadata":{"name":"Wat is aletho? (groep blok)"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-blue"}}}},"textColor":"primary-blue","fontSize":"x-large"} -->
<h2 class="wp-block-heading has-primary-blue-color has-text-color has-link-color has-x-large-font-size">Wat is Alétho?</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Alétho is een plek waar je mag groeien, je talenten mag ontdekken en jezelf kunt ontwikkelen op een manier die bij jou past. We geloven dat iedereen uniek is en talent heeft. Soms heb je alleen even iemand nodig die naast je staat. Bij Alétho bieden we werk- en leertrajecten aan in de IT, waarin je op je eigen tempo en niveau kunt toewerken naar een opleiding of baan.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Daarnaast bieden we ontwikkelingsgerichte dagbesteding voor wie behoefte heeft aan structuur, sociale contacten en een zinvolle invulling van de dag.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Dit allemaal in een veilige, prikkelarme omgeving waarin je de ruimte krijgt om stappen te zetten, hoe groot of klein die ook zijn. Of je nu gericht bent op werk, studie, of gewoon op zoek bent naar een plek om jezelf te zijn; wij begeleiden je met aandacht, deskundigheid en een warm hart.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"metadata":{"name":"Wat bieden we? (groep blok)"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-blue"}}}},"textColor":"primary-blue","fontSize":"x-large"} -->
<h2 class="wp-block-heading has-primary-blue-color has-text-color has-link-color has-x-large-font-size">Wat bieden we?</h2>
<!-- /wp:heading -->

<!-- wp:columns {"className":"column-pair"} -->
<div class="wp-block-columns column-pair"><!-- wp:column {"style":{"border":{"radius":"20px"},"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"backgroundColor":"secundary-pale-orange"} -->
<div class="wp-block-column has-secundary-pale-orange-background-color has-background" style="border-radius:20px;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"style":{"dimensions":{"minHeight":"18em"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="min-height:18em"><!-- wp:heading {"level":4,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-blue"}}}},"textColor":"primary-blue","fontSize":"larger"} -->
<h4 class="wp-block-heading has-primary-blue-color has-text-color has-link-color has-larger-font-size">IT-trajecten</h4>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">We bieden verschillende vormen van IT-trajecten op maat gemaakt aansluitend bij jouw tempo en niveau:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Beroepsoriëntatietrajecten</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Leertrajecten</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Re-integratietrajecten</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Zinvolle dagbesteding</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:group -->

<!-- wp:buttons {"layout":{"type":"flex","verticalAlignment":"top","orientation":"horizontal"}} -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"primary-orange","textColor":"white","className":"is-style-orange","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"fontSize":"medium"} -->
<div class="wp-block-button is-style-orange"><a class="wp-block-button__link has-white-color has-primary-orange-background-color has-text-color has-background has-link-color has-medium-font-size has-custom-font-size wp-element-button"><strong>Meer weten</strong></a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"border":{"radius":"20px"},"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"backgroundColor":"secundary-pale-blue"} -->
<div class="wp-block-column has-secundary-pale-blue-background-color has-background" style="border-radius:20px;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"style":{"dimensions":{"minHeight":"18em"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="min-height:18em"><!-- wp:heading {"level":4,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-blue"}}}},"textColor":"primary-blue","fontSize":"larger"} -->
<h4 class="wp-block-heading has-primary-blue-color has-text-color has-link-color has-larger-font-size">Ambulante begeleiding</h4>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Heb je hulp nodig bij wonen, werk of school dan bieden we o.a. ondersteuning bij:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Zelfstandig wonen</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Omgaan met financiën</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Contact met instanties</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Sociaal netwerk</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Gezond leven</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Persoonlijke ontwikkeling</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:group -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"primary-orange","textColor":"white","className":"is-style-orange","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"fontSize":"medium"} -->
<div class="wp-block-button is-style-orange"><a class="wp-block-button__link has-white-color has-primary-orange-background-color has-text-color has-background has-link-color has-medium-font-size has-custom-font-size wp-element-button"><strong>Meer weten</strong></a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->


<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"metadata":{"name":"Hoe doen we dat? (groep blok)"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Hoe doen we dat?</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">We hebben standaard trajecten die we kunnen aanpassen naar jouw behoeften en wensen zodat we altijd aansluiten bij jou. Denk hierbij aan:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Manier van leren, zoals boeken, video’s, interactieve tutorials etc. zowel in het Engels als Nederlands.</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Het tempo bepaal je zelf.</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">We sluiten aan bij je huidige IT- en denkniveau.</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Bij ons kun je werken in een rustige, prikkelarme omgeving waarbij je de keuze hebt tussen een kleiner of groter kantoor.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Bij deze trajecten word je ondersteund door hoog gekwalificeerd deskundig personeel voor zowel de<br>vakinhoudelijke als de persoonlijke ondersteuning.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Gedurende de tijd dat je bij ons bent werken we aan je sociale vaardigheden. Dit kan door samen te werken in projecten, maar ook door gezamenlijke ontspanning waarbij we o.a. spel gebruiken.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Groep blok met gradient"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"gradient":"aletho-light-blue-gradient","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-aletho-light-blue-gradient-gradient-background has-background" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:group {"layout":{"type":"constrained","contentSize":"39em","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-blue"}}}},"textColor":"primary-blue","fontSize":"x-large"} -->
<h2 class="wp-block-heading has-primary-blue-color has-text-color has-link-color has-x-large-font-size">Ben je geïnteresseerd?</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Bij interesse kan je contact opnemen voor het plannen van een rondleiding zodat je een beter beeld krijgt van wat Alétho voor je kan doen. We hebben locaties in Assen en in Groningen.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"primary-blue","textColor":"white","className":"is-style-blue","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}}} -->
<div class="wp-block-button is-style-blue"><a class="wp-block-button__link has-white-color has-primary-blue-background-color has-text-color has-background has-link-color wp-element-button"><strong>Aanmelden</strong></a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"primary-orange","textColor":"white","className":"is-style-orange","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}}} -->
<div class="wp-block-button is-style-orange"><a class="wp-block-button__link has-white-color has-primary-orange-background-color has-text-color has-background has-link-color wp-element-button"><strong>Contact</strong></a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"aletho","tagName":"footer"} /-->