<!-- wp:pattern {"slug":"aletho/header-desktop"} /-->
<!-- wp:pattern {"slug":"aletho/header-mobile"} /-->

<!-- wp:pattern {"slug":"aletho/title-gradient"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">        
        <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"aletho/c2a-banner"} /-->

<!-- wp:template-part {"slug":"footer","theme":"aletho","tagName":"footer"} /-->