<!-- wp:template-part {"slug":"header","theme":"aletho","tagName":"header"} /-->

<!-- wp:pattern {"slug":"aletho/title-gradient"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Content Section"}} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">        
        <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"aletho/c2a-banner"} /-->

<!-- wp:template-part {"slug":"footer","theme":"aletho","tagName":"footer"} /-->